@import "../../styles/variables";

.dashboard-header {
    padding: 48px 0;
}

.dashboard-graphs {
    padding: 96px 0;
    background-color: $gray-lightest;
}

.page-dashboard {
    h1 {
        margin-top: 24px;
    }

    .item-overview {
        padding: 64px 15px;

        img {
            vertical-align: top;
        }
    }

    .item-description {
        display: inline-block;
    }

    .gmnoprint,
    .gm-style-cc,
    .gm-style a img {
        display: none;
    }

    .fa {
        margin-left: 8px;
        transition: $default-transition;
    }

    .fa-times:hover {
        color: $brand-danger;
    }

    .fa-pencil:hover {
        color: $brand-warning;
    }
}

.page-dashboard .locations {
    .row {
        padding-bottom: 24px;
    }

    .row > div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .row > div:nth-child(2) {
        display: block;
    }

    .row:hover {
        text-align: left;
        cursor: pointer;

        h2 {
            color: $brand-primary;
            transition: $default-transition;
        }
    }

    .highlight {
        color: $brand-primary;
    }
}

.page-dashboard .nodes {
    padding-right: 0;
    padding-left: 0;

    .row {
        padding-bottom: 24px;
    }

    .col-md {
        a:hover {
            text-decoration: none;
        }

        p {
            color: $black;
        }
    }
}

.page-dashboard .sensors .row {
    padding-bottom: 24px;
    cursor: pointer;
}

.page-dashboard.single-item img {
    vertical-align: baseline;
}