@import "../../styles/variables";

.dashboard-header {
    padding: 48px 0;
}

.dashboard-graphs {
    padding: 96px 0;
    background-color: $gray-lightest;
}

.page-dashboard .item-overview {
    padding: 64px 0;
}

.page-dashboard .locations {
    .row {
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .row > div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .row > div:nth-child(2) {
        display: block;
    }

    .row:hover {
        background-color: $gray-lighter;
        text-align: left;
        cursor: pointer;

        h2 {
            color: $brand-primary;
            transition: $default-transition;
        }
    }

    .highlight {
        color: $brand-primary;
    }

    .fa-times:hover {
        color: $brand-danger;
    }
}

.page-dashboard .nodes {
    .col-md {
        a:hover {
            text-decoration: none;
        }

        p {
            color: $black;
        }
    }
}