.crud-form {
    padding: 48px 0;
    background-color: $gray-lighter;

    h2 {
        margin-bottom: 24px;
    }

    .form-group input,
    .form-group textarea {
        width: 100%;
        padding: 8px 16px;
        border: 0;
        border-radius: 8px;
    }
}

.edit-form {
    @extend .crud-form;
    background-color: $white;

    .container-fluid,
    .container {
        padding: 0;
    }

    .form-group input,
    .form-group textarea {
        background-color: $gray-lighter;
    }

    .form-group label {
        font-weight: bold;
    }
}