nav.navbar {
    padding: 16px 0;
    background: $white;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,0);
    transition: box-shadow .25s ease-in;

    &.raised {
        box-shadow: $element-box-shadow;
    }
}

.navbar-nav {
    position: absolute;
    top: 4px;
    right: 0;
    font-size: $font-size-lg;

    .fa {
        margin: 0 10px;
    }
}

.navbar-nav li {
    margin-top: -10px;
    margin-left: 10px;
}

.navbar-nav .btn {
    margin-top: 5px;
}

.navbar .navbar-nav .nav-link.btn {
    padding-right: 15px;
    padding-left: 15px;
}

