.usp {
    padding: 64px 0;

    img {
        width: auto;
        height: 192px;
        display:block;
        margin:auto;
    }
}

.diagonal-section {
    padding-bottom: $edge-height;
}

.edge {
    position: absolute;
}

.edge.bottom-right {
    right: 0;      
    bottom: 0;
    width: 100%;       
    height: $edge-height;
}