::selection {
  background: $brand-primary;
  color: #fff;
  text-shadow: 0px 0px 0px;
}

::-moz-selection {
  background: $brand-primary;
  color: #fff;
  text-shadow: 0px 0px 0px;
}

::-webkit-selection {
  background: $brand-primary;
  color: #fff;
  text-shadow: 0px 0px 0px;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  overflow-x: hidden;
}

body {
  padding-top: 5em;
}

.brand {
    color: $gray-dark;
    font-family: $headings-font-family;
    font-size: 24px;

    &:active,
    &:focus,
    &:hover {
      color: $gray-dark;
      text-decoration: none;
    }

    img {
      height: 36px;
    }

    span {
        color: $brand-primary;
    }
}

.page {
    margin-top: 88px;
    margin-bottom: 88px;
}

.fill-brand {
    fill: $brand-primary;
}

.fill-white {
    fill: $white;
}

.bgcolor-brand {
    background-color: $brand-primary;
    color: $white;
}

a {
  transition: $default-transition;
}

.notification-danger {
  color: $brand-danger !important; 
}

.notification-warning {
  color: $brand-warning !important;
}

.notification-success {
  color: $brand-success !important;
}