::selection {
  background: $brand-primary;
  color: #fff;
  text-shadow: 0px 0px 0px;
}

::-moz-selection {
  background: $brand-primary;
  color: #fff;
  text-shadow: 0px 0px 0px;
}

::-webkit-selection {
  background: $brand-primary;
  color: #fff;
  text-shadow: 0px 0px 0px;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  overflow-x: hidden;
}

body {
  padding-top: 5em;
}

.brand {
    color: $gray-dark;
    font-size: 24px;
    font-weight: 700;

    &:active,
    &:focus,
    &:hover {
      color: $gray-dark;
      text-decoration: none;
    }

    img {
      height: 36px;
    }

    span {
        color: $brand-primary;
    }
}

.page {
  margin-top: 88px;
  margin-bottom: 88px;
}