@import "../../styles/variables";

.login-form {
    z-index: 1031; //thanks bootstrap;
    background: $white;
    border-radius: $border-radius;
    box-shadow: $element-box-shadow;

    .login-form__close-button {
        float: right;
        margin: 24px 24px 0 0;
        font-size: $font-size-lg;
    }

    .login-form__close-button:hover {
        color: $brand-primary;
        cursor: pointer;
    }

    .login-form__fields {
        padding: 48px;
    }

    h1 {
        margin-bottom: 48px;
    }

    .form-group {
        .fa,
        input {
            display: inline-block;
        }

        input {
            margin-left: 16px;
            font-size: $font-size-lg;
            vertical-align: -3px;
            border: none;
        }
    }

    .btn {
        margin: 0 48px 48px;
        width: calc(100% - 96px);
        cursor: pointer;
    }
}