<div class="modal-wrapper">
    <div class="login-form">
        <i @click="$emit('close')" class="fa fa-times login-form__close-button"></i>

        <form id="form">
            <div class="login-form__fields">
                <h1>Login</h1>

                <transition
                    name="custom-classes-transition"
                    enter-active-class="animated fadeIn"
                    leave-active-class="animated fadeOut"
                >
                    <div v-if="error" class="alert alert-danger">
                        {{ error }}
                    </div>
                </transition>

                <div class="form-group">
                    <span class="fa-stack">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                    </span>
                    <input id="username" v-model="user.username" type="text" placeholder="Username">
                </div>
                <div class="form-group">
                    <span class="fa-stack">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-key fa-stack-1x fa-inverse"></i>
                    </span>
                    <input id="password" v-model="user.password" type="password" placeholder="Password">
                </div>
            </div>

            <div class="login-form__button-wrapper">
                <button type="submit" class="btn btn-primary" v-on:click="loginStart">
                    <i v-if="loggingIn" class="fa fa-spinner fa-pulse"></i>
                    {{ loginText }}
                </button>
            </div>
        </form>
    </div>
</div>