<nav v-bind:class="{ raised: isRaised }" class="navbar fixed-top navbar-toggleable-sm">
    <div class="container">
        <router-link class="brand" to="/">
        <img alt="Brand" src="~assets/images/emblem.png" />
        <span>eco</span>dash
        </router-link>

        <ul class="navbar-nav">
            <li @click="showLoginForm = true"><a href="#" class="nav-link btn btn-primary">Login</a></li>
        </ul>
    </div>
    <transition
        name="custom-classes-transition"
        enter-active-class="animated fadeIn"
        leave-active-class="animated fadeOut"
    >
        <div v-if="showLoginForm" class="modal_background"></div>
    </transition>
    <transition
        name="custom-classes-transition"
        enter-active-class="animated slideInDown"
        leave-active-class="animated slideOutUp"
    >
        <login-form v-if="showLoginForm" @close="showLoginForm = false"></login-form>
    </transition>
</nav>