<nav v-bind:class="{ raised: isRaised }" class="navbar fixed-top navbar-toggleable-sm">
    <div class="container">
        <router-link class="brand" to="/">
        <img alt="Brand" src="~assets/images/emblem.png" />
        <span>eco</span>dash
        </router-link>

        <ul class="navbar-nav">
            <li v-if="token === null" @click="$store.state.showLoginForm = true"><a href="#" class="nav-link btn btn-primary">Login</a></li>
            <router-link to="/dashboard"><li v-if="token"><p class="btn btn-primary">Dashboard</p></li></router-link>
            <router-link to="/dashboard/locations"><li v-if="token"><p class="btn btn-primary">Management</p></li></router-link>
            <li v-if="token"><a href="#" class="nav-link btn btn-primary">Logout</a></li>
        </ul>
    </div>
    <transition
        name="custom-classes-transition"
        enter-active-class="animated fadeIn"
        leave-active-class="animated fadeOut"
    >
        <div v-if="$store.state.showLoginForm" class="modal_background"></div>
    </transition>
    <transition
        name="custom-classes-transition"
        enter-active-class="animated slideInDown"
        leave-active-class="animated slideOutUp"
    >
        <login-form v-if="$store.state.showLoginForm" @close="$store.state.showLoginForm = false"></login-form>
    </transition>
</nav>