<section>
  <navigation></navigation>

  <div class="hero">
    <div class="hero__content">
      <div class="container">
        <h1 class="display-4">The window to your home</h1>
        <h2>ecodash provides insight into your <br>environment-friendly house.</h2>
      </div>
    </div>
    <svg class="edge bottom-right fill-white" viewBox="0 0 64 64" preserveAspectRatio="none">
      <polygon stroke="none" stroke-width="4" points="0,64 64,0 64,64"></polygon>
    </svg>
  </div>

  <section class="container-fluid usp">
    <div class="container">
      <div class="row">
        <div class="col-md">
          <img src="/src/assets/images/dashboard.svg"/>
        </div>
        <div class="col-md">
          <h3 class="display-5">Monitor your house, everywhere</h3>
          <p>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="container-fluid usp bgcolor-brand">
    <div class="container">
      <div class="row">
        <div class="col-md">
          <h3 class="display-5">Make the world a better place</h3>
          <p>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          </p>
        </div>
        <div class="col-md">
          <img src="/src/assets/images/bird.svg"/>
        </div>
      </div>
    </div>
  </section>
    <section class="container-fluid usp">
    <div class="container">
      <div class="row">
        <div class="col-md">
          <img src="/src/assets/images/security.svg"/>
        </div>
        <div class="col-md">
          <h3 class="display-5">You are in control</h3>
          <p>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          </p>
        </div>
      </div>
    </div>
  </section>
</section>
