<div class="container nodes item-overview">
  <div class="row" v-if="nodes.length > 0" v-for="node in nodes">
    <div class="col-md">
      <img src="/src/assets/images/node.svg" />

      <div class="item-description">
        <router-link :to="'/dashboard/locations/' + locationId + '/' + node.Id">
          <h3>
            {{ node.Name }} 
            <span v-if="node.sensorsFailingCount" class="notification-warning"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ node.sensorsFailingCount }} </span>
            <span v-if="node.sensorsOfflineCount" class="notification-danger"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ node.sensorsOfflineCount }}</span>
          </h3>
        </router-link>
        <h6>{{ node.Type }}</h6>
        <p>{{ node.Description }}</p>
        <span v-if="node.sensorCount">{{ node.sensorCount }} connected sensor(s)</span>
      </div>
    </div>
  </div>
  <div v-if="nodes.length < 1">
      <div class="col-md-6">
        <h2>It doesn't look like this location has any nodes connected to it yet.</h2>
        <p>You can add new nodes using the form below.</p>
      </div>
  </div>
</div>
