<div class="edit-form" v-if="location">
    <h2>Edit this location</h2>

    <div v-if="success == true" class="alert alert-success">
        Your changes have been saved.
    </div>

    <div v-if="success == false" class="alert alert-danger">
        This location couldn't be updated. Please refresh this page.
    </div>

    <div class="form-group">
        <label>Name</label>
        <input id="Name" v-model="location.Name" type="text" placeholder="Name" >
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea id="Description" v-model="location.Description" placeholder="Description"></textarea>
    </div>
    <div class="form-group">
        <label>Latitude</label>
        <input id="Latitude" v-model="location.GeoCoordinates.Latitude" type="number" step="any" placeholder="Latitude (Optional)">
    </div>
    <div class="form-group">
        <label>Longitude</label>
        <input id="Longitude" v-model="location.GeoCoordinates.Longitude" type="number" step="any" placeholder="Longitude (Optional)">
    </div>

    <p>
        <a v-if="!valid" class="btn btn-disabled">
            Edit location
        </a>

        <button v-if="valid" type="submit" class="btn btn-primary" @click="updateLocation()">
            Edit location
        </button>

        <button class="btn btn-transparent btn-transparent-danger" @click="deleteLocation()">
            Delete location
        </button>
    </p>
</div>
